<div class="jumbotron jumbotron-fluid">
    <form>
      <hr>
      <div class="container">
          <div class="form-group">
            <label for="name">Korisničko ime</label>
            <input type="text" [(ngModel)]="this.loggedUser.username" class="form-control" id="name" name="name">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" [(ngModel)]="this.loggedUser.email" class="form-control" id="email" name="email">
          </div>
          <div>
            <label for="createdAt">Vreme kreiranja: </label>
            <p id="createdAt">{{ this.loggedUser.createdAt | date:'dd.MM.y. u HH:mm' }}</p>
          </div>
          <div>
            <label for="updatedAt">Poslednja izmena: </label>
            <p id="updatedAt">{{ this.loggedUser.updatedAt | date:'dd.MM.y. u HH:mm' }}</p>
          </div>
          <button type="submit" class="btn btn-primary" (click)="updateUser()">Sačuvaj izmene</button>
          <button type="submit" class="btn btn-danger float-right" (click)="deleteUser()">Obriši profil</button>
      </div>
      </form>
    </div>